# index
<h1>Locations Index</h1>

<ol>
  <% @locations.each do |location| %>
    <li><a href="/locations/<%= location.id %>"><%= location.name %></a></li>
  <% end %>
</ol>

<p><a href="/locations/new">New Location</a></p>
