# show
<% if @researcher %>
  <h1><%= @researcher.name %></h1>

  <p><em>Description:</em> <%= @researcher.description %></p>
<% else %>
  <p>No researcher of that ID exists</p>
<% end %>

<p><a href="/researchers">Back to All Researchers</a></p>
